body {
  margin: 0;
  padding: 20px;
  
  font-family: 'STIX Two Text', serif;
   border: 1px solid #ddd
}


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#visitor-count {
  font-size: 18px;  /* Existing style */
  color: #333;       /* Existing style */
  position: absolute; /* Keep absolute positioning */
  top: 10px;          /* Adjust for desired top margin */
  right: 10px;         /* Adjust for desired right margin */
}

.contact {
  text-align: center; 
  margin-bottom: 10px;
  border: 1px solid #ddd; 
  padding: 5px; 
}

.summ {
  text-align: center; 
  margin-bottom: 10px;
}
.summ-deb {
  text-align: center; 
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; 
}


li {
  margin-bottom: 5px;
}